flow record {{ netflow.record }}
  match ipv4 protocol
  match ipv4 source address
  match ipv4 destination address
  match transport source-port 
  match transport destination-port
  match interface input 
  match application name 
  collect ipv4 dscp 
  collect interface output
  collect counter bytes long
  collect counter packets long
!
{% for flowexp in netflow.exporters %}
flow exporter {{ flowexp.name  }}
  destination {{ flowexp.ip }}
  transport udp {{ flowexp.port }}
  option exporter-stats timeout 2
{% endfor %}
!
flow monitor {{ netflow.policy }} 
  record {{ netflow.record }}
{% for flowexp in netflow.exporters %}
  exporter {{ flowexp.name }}
{% endfor %}
  
!
{% if groups['wan_unitel'] is defined and inventory_hostname in groups['wan_unitel'] %}
{% set netflow_intf="Tunnel2016" %}
interface {{ netflow_intf }}
  ip flow monitor {{ netflow.policy }} input
  ip flow monitor {{ netflow.policy }} output
{% endif %}

{% if groups['wan_nera'] is defined and inventory_hostname in groups['wan_nera'] %}
{% for intf,values in get_facts.napalm_interfaces.items() %}
{% if values.description.startswith("NERA_WAN") %}
interface {{ intf }}
  ip flow monitor {{ netflow.policy }} input
  ip flow monitor {{ netflow.policy }} output
{% endif %}
{% endfor %}
{% endif %}
